.Card {
  display: flex;
  align-items: center;
  margin: 10px;
  gap: 1vw;
  color: rgb(3, 3, 3);
  background-color: rgb(226, 181, 125);
  flex-direction: column;
  font-family: Libre_Baskerville;
  border-radius: 10px;
}

.Card:hover {
  background-color: rgb(233, 151, 0);
}

.card-image {
  width: 200px;
  height: 180px;
  border: 5px solid white;
  background-color: bisque;

  padding: 5px;
  margin: 10px;
}
