.Header {
  background-color: rgb(255, 255, 255);
  min-height: 13vh;
  color: rgb(233, 151, 0);
  font-family: Pacifico;
  font-size: 8vh;
  display: flex;
  justify-content: space-between;
}

#header-options {
  display: flex;
  gap: 5vw;
  padding-right: 3vw;
  color: rgb(233, 151, 0);
}
.header-option {
  display: flex;
  align-items: center;
  font-size: 30px;
}
.Header > h3 {
  padding: 0;
  margin: 0;
  font-weight: 100;
  padding-left: 3vw;
}

.header-option a {
  text-decoration: none;
  color: rgb(233, 151, 0);
}
