.Header {
  background-color: rgb(255, 255, 255);
  min-height: 120px;
  color: rgb(233, 151, 0);
  font-family: Pacifico;
  position: relative;
  max-height: 17vh;
  display: flex;
  justify-content: space-between;
}

#header-options {
  display: flex;
  gap: 5vw;
  padding-right: 3vw;
  color: rgb(233, 151, 0);
}

.Header > h3 {
  padding: 0;
  margin: 0;
  font-weight: 100;
  padding-left: 3vw;
  font-size: 8vh;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
#website-title > a {
  color: rgb(233, 151, 0);
}

#cart-button {
  margin-right: 50px;
  margin-top: 20px;
  position: relative;
  font-size: 55px;

  transition: all 0.3s ease-in-out;
}

#cart-button:hover {
  font-size: 9vh;
  transform: scale(1.05);
}

#item-count {
  display: flex;
  position: absolute;
  top: -35px;
  right: -10px;
  background-color: white;
  z-index: 9999;
  margin: 0;
  padding: 0;
  height: 80px;
  border-radius: 20px;
}
