@font-face {
  font-family: Libre_Baskerville;
  src: url(../assets/fonts/Libre_Baskerville/LibreBaskerville-Bold.woff)
    url(../assets/fonts/Libre_Baskerville/LibreBaskerville-Bold.woff);
}
@font-face {
  font-family: Pacifico;
  src: url(../assets/fonts/Pacifico/Pacifico-Regular.ttf);
}

.LandingPage {
  min-height: 87vh;
  background-size: 100% 130%;
}

#check-shop-button > a {
  text-decoration: none;
  color: white;
  font-family: Libre_Baskerville;
  font-weight: bold;
  padding: 10px;
}

#check-shop-button {
  background-color: rgb(233, 151, 0);
  color: rgb(255, 255, 255);
  font-size: 20px;
  width: fit-content;
  border-radius: 10px;
}

#recommended-products {
  bottom: 30vh;
  right: 15vw;
  position: absolute;
}
#recommended-products img {
  width: 350px;
  height: 300px;
}
#quote-button-wrapper {
  position: absolute;
  font-family: Pacifico;
  left: 10vw;
  bottom: 50vh;
  font-size: 50px;
  z-index: 999999;
  background-color: rgba(240, 248, 255, 0.664);
  border-radius: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
  padding-left: 20px;
}
#recommended-bread {
  transform: rotate(50deg);
  transform: translate(0, -100px) rotate(-60deg);
}
#recommended-coffee {
  left: 6vw;
  position: absolute;
  z-index: 999;
}
#quote-button-wrapper * {
  padding: 0;
  margin: 0;
  z-index: 99999999;
}

#rel-wrapper {
  position: relative;
}
.content {
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
