@font-face {
  font-family: Libre_Baskerville;
  src: url(../static/Libre_Baskerville/LibreBaskerville-Bold.woff)
    url(../static/Libre_Baskerville/LibreBaskerville-Bold.woff);
}
@font-face {
  font-family: Pacifico;
  src: url(../static/Pacifico/Pacifico-Regular.ttf);
}

.LandingPage {
  background-image: url(../static/background.jpg);
  min-height: 87vh;
  background-size: 100% 130%;
}

#check-shop-button {
  background-color: rgb(233, 151, 0);
  color: rgb(255, 255, 255);
  font-size: 20px;
  width: fit-content;
  border-radius: 10px;
}

#recommended-products {
  bottom: 17vh;
  right: 5vw;
  position: absolute;
  display: flex;
}
#recommended-products img {
  width: 350px;
  height: 300px;
}
#bakery-quote {
  position: absolute;
  font-family: Pacifico;
  left: 10vw;
  bottom: 38vh;
  font-size: 50px;
  z-index: 999999;
}
#bakery-quote * {
  padding: 0;
  margin: 0;
}
.content {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}
