.bg-pattern {
  background-image: url(../assets/images/background.jpg);
  background-size: 100% 130%;
}
.menu-sidebar {
  background-color: white;
  display: flex;
  padding: 10px;
  gap: 3vw;
}
#shop-list {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20vw;
  height: 100vh;
}
