.TotalItems {
  position: fixed;
  right: 0;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 500px;
  max-width: 50vw;
  background-color: white;
  z-index: 9999999999;
  top: 0;
  border: 1px solid black;
  padding: 20px;
  overflow: auto;
}
#close-cart {
  font-size: 30px;
}
.items {
  display: grid;
  font-size: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.total-price {
  font-size: 50px;
}
.item-prices > div {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.remove-option-list {
  display: flex;
  font-size: 20px;
  gap: 10px;
}
.remove-option {
  width: 35px;
  height: 30px;
  border: 1px solid rgb(233, 151, 0);
  text-align: center;
}
